@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Quadrants";
}
@model List<Task>

<h1 style="align-content:center">View Tasks by Quadrant</h1>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h4>Quadrant 1</h4>
            <table class="table table_bordered">
                <thead class="fw-bold">
                    <tr>
                        <td>Task Name</td>
                        <td>Due Date</td>
                        <td>Category</td>
                    </tr>
                </thead>
                @foreach (var t in Model)
                {
                    @if (@t.Quadrant == 1 && @t.Completed == 0)
                    {
                        <tbody>
                            <tr>
                                <td>@t.TaskName</td>
                                <td>@t.DueDate</td>
                                <td>@t.Category</td>
                                <td>
                                    <form method="post">
                                        <input type="hidden" asp-for="TaskId" />
                                        <input type="hidden" asp-for="Completed" value="true" />
                                        <button type="submit" class="btn btn-success">Complete</button>
                                    </form>
                                </td>
                                <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId">Edit</a></td>
                                <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId">Delete</a></td>
                            </tr>
                        </tbody>
                    }
                }
            </table>
        </div>
    </div>
</div>